<!DOCTYPE html>
<html>
    <head>
        <title>Games</title>
        <link rel="stylesheet" href="../assets/style.css">
        <link rel="icon" href="../assets/icon.png">


        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
        <!-- Import API -->
        <!-- <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script> -->

    </head>

    <body>
        <div id="app">
            <header>
                il est tres fort
            </header>
            <table>
                <thead>
                    <td> hello </td>
                    <td> guys </td>
                </thead>
                <tr>
                    <td> yo </td>
                    <td> no </td>
                </tr>
            </table>
        </div>
    </body>
</html>