@font-face{
    font-family : "conthrax";
    src: url(conthrax.ttf) ;
}   

* {
    font-family: "conthrax", sans-serif;
    box-sizing: border-box;
    color : yellowgreen;
    background-color:#231442;
}

header{
    background-color: black;
    margin: 0 0 20px 0px;
    text-align: center;
    width: 100%;
    top : 0;
    font-size: 30px;
    padding: 10px 0 10px 0;
}


#search{
    margin-bottom: 20px;
    background-color: lightgray;
    color: #3a8d00;
    font-size: 15px;
}

#app{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

body{
    margin: 0;
}

table, td {
    font-size: 20px;
    padding: 3px;
    border: solid 2px;
    border-radius: 30px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
table{
    border-radius: 30px;
}

