@font-face{
    font-family : "conthrax";
    src: url(conthrax.ttf) ;
}   

* {
    font-family: "conthrax", sans-serif;
    box-sizing: border-box;
    color : yellowgreen;
    background-color:#231442;
}

header{
    background-color: black;
    margin: 0 0 20px 0px;
    text-align: center;
    width: 100%;
    top : 0;
    font-size: 30px;
    padding: 10px 0 10px 0;
}

header > a{
    background-color: black;
}


#search{
    margin-bottom: 20px;
    background-color: lightgray;
    color: #3a8d00;
    font-size: 15px;
}

#app{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

body{
    margin: 0;
}

#games-display, .game-container,#sugestions-display, .suggestion-container  {
    border: solid 3px;
    border-radius: 20px;
    border-collapse: collapse;
    text-align: center;
}

#games-display ,#sugestions-display{
    margin: 25px 15% 25px 15%;
}

.game-container , .suggestion-container {
    padding: 5px;
    font-size: 20px;
}

