<!DOCTYPE html>
<html>
    <head>
        <title>Games</title>
        <link rel="stylesheet" href="../assets/style.css">
        <link rel="icon" href="../assets/icon.png">


        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
        <!-- Import API -->
        <!-- <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script> -->

    </head>

    <body>
        <header>
            Il est tres fort<br>
            <a href="./suggestions.html">SUGGESTIONS</a>
            <a href="./games.html">JEUX</a>
        </header>
        <div id="app">
            Games <br>
            <input id="search" v-model="input">
            <div id="games-display">
                <games-display v-for="game in getList" :game="game" :input="input"></games-display>
            </div>
        </div>
    </body>
    <!-- Import  App-->
    <script src="../apps/games_app.js"></script>
    <!-- Import Components -->  
    <script src="../components/GamesDisplay.js"></script>
    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</html>