<!DOCTYPE html>
<html>
    <head>
        <title>Games</title>
        <link rel="stylesheet" href="../assets/style.css">
        <link rel="icon" href="../assets/icon.png">


        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
        <!-- Import API -->
        <!-- <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script> -->

    </head>

    <body>
        <header>
            Il est tres fort<br>
            <a href="./suggestions.html">SUGGESTIONS</a>
            <a href="./games.html">JEUX</a>
        </header>
        <div id="app">
            Suggestions <br>
            <div id="suggestions-display">
                <suggestions-display v-for="suggestion in getList" :suggestion="suggestion"></suggestions-display>
            </div>
        </div>
    </body>
    <!-- Import  App-->
    <script src="../apps/suggestions_app.js"></script>
    <!-- Import Components -->  
    <script src="../components/SuggestionsDisplay.js"></script>
    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</html>